{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'cssjs/custom_agency.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block title %}
    ANNPORT Agency
{% endblock %}

{% block navbar %}
    {% include "agency/navbar.html" %}
{% endblock %}

{% block content %}
    <!-- 진행자 열람창 -->
    <div class="container my-5 pt-0">
        <div class="px-2 d-inline">
            {% if mc_search_name or mc_search_tag or mc_search_tag2 %}
                <a href="{% url "agency:mc_list" %}">
                <span class="badge rounded-pill mc_tag_reset_btn">검색결과 초기화</span>
                </a>
                <span class="badge bg-secondary">{{ mc_search_name }}</span>
                <span class="badge bg-secondary">{{ mc_search_tag }}</span>
                <span class="badge bg-secondary">{{ mc_search_tag2 }}</span>
                <span style="font-size: 0.8em;">의 검색결과</span>
            {% endif %}
        </div>
        <div class="row pt-4">
            <!-- 진행자 검색 및 태그 선택 -->
            <div class="col-12 col-lg-4 mb-5">
                <div class="mb-2">
                    <input
                            id="mc_finder"
                            class="form-control form-control-lg"
                            type="text"
                            placeholder="진행자의 이름으로 검색하세요."
                            value="{{ mc_search_name|default_if_none:'' }}"
                    />
                </div>

                <div id="mc_tag_selector" class="mb-1 ">
                    <div class="py-2 px-3" id="mc_tag_selector_desc">
                        <i class="bx bxs-down-arrow"></i>
                        <span>원하시는 진행자 이미지를 선택하세요.</span>
                    </div>
                    <div id="mc_tag_reset">
                        <span class="badge rounded-pill mc_tag_reset_btn" onclick="unselect_button()">
                            태그 초기화
                        </span>
                        <!--
                        <div id="mc_tag_reset_btn" onclick="unselect_button()">태그 초기화</div>  -->
                    </div>
                    <div id="mc_tag_list" class="d-flex flex-wrap justify-content-start">
                        {% for tag in all_tag_list %}
                        <a href="#" class="btn btn-sm search_check"
                           id="search_check_{{ forloop.counter0 }}" name="search_check_{{ forloop.counter0 }}"
                           role="button" data-bs-toggle="button">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div id="mc_tag2_selector">
                    <div class="py-2 px-3" id="mc_tag2_selector_desc">
                        <i class="bx bxs-down-arrow"></i>
                        <span>원하시는 진행자 이미지를 선택하세요.</span>
                    </div>
                    <div id="mc_tag2_reset">
                        <span class="badge rounded-pill mc_tag_reset_btn" onclick="unselect_button2()">
                            태그 초기화
                        </span>
                        <!--
                        <div id="mc_tag_reset_btn" onclick="unselect_button()">태그 초기화</div>  -->
                    </div>
                    <div id="mc_tag2_list" class="d-flex flex-wrap justify-content-start">
                        {% for tag in all_tag2_list %}
                        <a href="#" class="btn btn-sm search_check2"
                           id="search_check2_{{ forloop.counter0 }}" name="search_check2_{{ forloop.counter0 }}"
                           role="button" data-bs-toggle="button">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="d-grid gap-2 mt-3">
                    <button class="btn search_btn" id="search_btn">
                        <i class="bx bx-search bx-sm"></i>
                        <span>검색</span>
                    </button>
                </div>
            </div>

            <!-- 진행자 목록 -->
            <div class="col-12 col-lg-8">
                <div id="mc_grid">
                    {% if mclist.exists %}
                        {% for mc in mclist %}
                            <div class="mc_card" onclick="location.href='{% url "agency:detail" mc.id %}'" style="background-image: url('{{ mc.profile_backdrop.image.url }}');">
                                <img class="mc_card_image" src='{{ mc.profile_photo.url }}'>
                                <div class="mc_card_overlay">
                                    <h6>{{ mc.name }} {{ mc.title }}</h6>
{#                                    <span class="d-block text-truncate">{% for mctag in mc.tags.all %}#{{ mctag }} {% endfor %}</span>#}
{#                                    <span class="d-block text-truncate">{% for mctag in mc.tags2.all %}#{{ mctag }} {% endfor %}</span>#}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div id="no_mc">
                            조건에 맞는 결과가 없습니다. <br>
                            조건을 바꿔 다시 검색해주세요.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <form id="search_form" method="get" action="{% url 'agency:mc_list' %}">
        <input type="hidden" id="mc_search_name" name="mc_search_name" value="{{ mc_search_name|default_if_none:'' }}">
        <input type="hidden" id="mc_search_tag" name="mc_search_tag" value="{{ mc_search_tag|default_if_none:'' }}">
        <input type="hidden" id="mc_search_tag2" name="mc_search_tag2" value="{{ mc_search_tag2|default_if_none:'' }}">
    </form>
{% endblock %}

{% block script %}
<script>
const search_input = document.getElementById('mc_finder')
const tag_buttons = document.querySelectorAll('.search_check')
const tag2_buttons = document.querySelectorAll('.search_check2')
const search_btn = document.getElementById('search_btn')
const search_form = document.getElementById('search_form')
let mc_search_name = document.getElementById('mc_search_name')
let mc_search_tag = document.getElementById('mc_search_tag')
let mc_search_tag2 = document.getElementById('mc_search_tag2')

document.addEventListener('DOMContentLoaded', (event) => {
    let tags_list = mc_search_tag.value.split(',')
    let tags2_list = mc_search_tag2.value.split(',')
    tag_buttons.forEach(function (button) {
        for (let i in tags_list) {
            if(button.textContent.substring(1).trim() === tags_list[i] ) {
                button.setAttribute('aria-pressed', "true")
                button.classList.add("active")
            }
        }
        for (let i in tags2_list) {
            if(button.textContent.substring(1).trim() === tags2_list[i] ) {
                button.setAttribute('aria-pressed', "true")
                button.classList.add("active")
            }
        }
    })
});

function unselect_button() {
    tag_buttons.forEach(function (button) {
        if(button.getAttribute('aria-pressed') === "true"){
            button.setAttribute('aria-pressed', "false")
            button.classList.remove("active")
        }
    })
}

function unselect_button2() {
    tag2_buttons.forEach(function (button) {
        if(button.getAttribute('aria-pressed') === "true"){
            button.setAttribute('aria-pressed', "false")
            button.classList.remove("active")
        }
    })
}


search_btn.addEventListener('click', mcSearch)
function mcSearch(e) {
    let mc_search_tag_list = []
    let mc_search_tag2_list = []
    mc_search_name.value = search_input.value
    tag_buttons.forEach(function (button) {
        if(button.getAttribute('aria-pressed') === "true"){
            mc_search_tag_list.push(button.textContent.substring(1).trim())
            button.setAttribute('aria-pressed', "false")
            button.classList.remove("active")
        }
    })
    tag2_buttons.forEach(function (button) {
        if(button.getAttribute('aria-pressed') === "true"){
            mc_search_tag2_list.push(button.textContent.substring(1).trim())
            button.setAttribute('aria-pressed', "false")
            button.classList.remove("active")
        }
    })
    mc_search_tag.value = mc_search_tag_list
    mc_search_tag2.value = mc_search_tag2_list
    search_form.submit();
}

$(document).ready(function () {
    $('.mainmclist').slick({
        dots: false,
        infinite: true,
        speed: 1000,
        fade: false,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: 1000,
        arrows: false,
        slidesToScroll: 1,
        variableWidth: true,
        centerMode: false,
    });
});
</script>
{% endblock %}