{% extends "base.html" %}
{% load templatetags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'cssjs/custom_wedding.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block title %}
    ANNPORT Wedding
{% endblock %}

{% block navbar %}
    {% include "wedding/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-end" id="profile_portrait"
             style="background-image: url('{{ mc.profile_backdrop.image.url }}');"
        >
            <img id="profile_portrait_img" src="{{ mc.profile_photo.url}}" alt="" />
        </div>
        <div id="profile_overlay" class="p-1">
            <h5>{{ mc.title }}</h5>
            <h1 id="mc_name_text">{{ mc.name }}</h1>
            <div class="mx-auto" style="margin-top: 35px; width: 30px; height: 5px; background-color: black;"></div>
        </div>
    </div>

    <!-- #상세내용 시작 -->
    <div class="container text-center">
        <!-- 태그 -->
        <div class="d-flex justify-content-center">
            <div class="row gx-2 row-cols-3 justify-content-center" style="max-width: 400px;">
                {% for tag in tag_list %}
                    <div class="col-auto">
                        <div class="px-3 py-2 my-1 text-light" style="background-color: #f6895b">
                            <span>#{{ tag }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- 설명 -->
        <div id="profile_description" class="my-3 mx-auto">
            {{ mc.description }}
        </div>

        <!-- 기능아이콘 -->
        <div class="row gx-2 row-cols-lg-3 justify-content-center">
                <button class="btn btn-primary call_btn" id="cast_btn"><span style="font-size: 1.2em;">섭외 문의</span></button>
        </div>

        <!-- 추가정보 -->
        <div id="profile_more" class="row">
            <!-- 갤러리 -->
            <div class="col-12 col-lg-8 mb-5 mb-lg-3">
                <div id="movies_carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                    <!-- 이미지들 -->
                    <div class="carousel-inner">
                        {% if mc.youtube_set.count > 0 %}
                            {% for youtube in mc.youtube_set.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                                    <div class="youtube-embed d-block w-100 ratio ratio-16x9">
                                        <iframe
                                            src="https://www.youtube-nocookie.com/embed/{{ youtube.url }}?rel=0"
                                            frameborder="0"
                                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen
                                        ></iframe>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- 썸네일 -->
                    <div class="carousel_thumbnails d-flex flex-wrap justify-content-start mt-2 gap-1">
                        {% if mc.youtube_set.count > 0 %}
                            {% for youtube in mc.youtube_set.all %}
                                <div class="carousel_thumbnail00">
                                    <img
                                        src="https://img.youtube.com/vi/{{ youtube.url }}/mqdefault.jpg"
                                        type="button"
                                        data-bs-target="#movies_carousel"
                                        data-bs-slide-to="{{ forloop.counter0 }}"
                                        aria-label="Slide {{ forloop.counter }}"
                                        aria-current="true"
                                        class="active rounded"
                                    />
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- 이력 등 -->
            <div id="profile_career" class="col-12 col-lg-4 text-start px-4">
                {{ mc.profile|mark }}
            </div>
        </div>
    </div>
    <!-- 상세내용 끝 -->

    <form id="cast_form" method="get" action="{% url 'wedding:cast' %}">
        <input type="hidden" id="mc_cast_name" name="mc_cast_name" value="{{ mc_cast_name|default_if_none:'' }}">
    </form>
{% endblock %}

{% block script %}
<script>
const mc_name = document.getElementById('mc_name_text')
let mc_cast_name = document.getElementById('mc_cast_name')

document.addEventListener('DOMContentLoaded', (event) => {
    mc_cast_name.value = mc_name.textContent.trim()
});

const cast_btn = document.getElementById('cast_btn')
const cast_form = document.getElementById('cast_form')

cast_btn.addEventListener('click', mcCast)
function mcCast(e) {
    cast_form.submit();
}
</script>
{% endblock %}