@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
* {
  box-sizing: border-box;
}

a, button, select, input, input[type=text], textarea {
  font-size: 14px !important;
}

body {
  font-size: 14px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none !important;
}
a:hover {
  color: gray;
  text-decoration: none !important;
}

span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

#top_spacer {
  margin-top: 70px;
}

.ann_nav {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .ann_nav {
    height: 70px;
  }
}

.ann_logo_wrap {
  position: relative;
}
@media (min-width: 992px) {
  .ann_logo_wrap {
    width: 200px;
    height: 73px;
  }
}
@media (max-width: 991px) {
  .ann_logo_wrap {
    margin: 5px 0;
    width: 120px;
    height: 50px;
  }
}

.ann_logo_wrap > div {
  position: absolute;
}
@media (min-width: 992px) {
  .ann_logo_wrap > div {
    top: 43%;
  }
}
@media (max-width: 991px) {
  .ann_logo_wrap > div {
    top: 10%;
  }
}

@media (min-width: 992px) {
  .ann_logo {
    width: 200px;
  }
}
@media (max-width: 991px) {
  .ann_logo {
    width: 120px;
  }
}

#footer {
  width: 100%;
  height: 220px;
  color: #44515c;
  font-size: 0.9em;
}

#content {
  min-height: 70%;
  overflow-x: hidden !important;
}

@media (min-width: 992px) {
  .navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.ann_nav {
  background-color: #f8f8f8;
}

#footer {
  background-color: #fff;
}

#content {
  padding: 30px;
  height: auto;
  overflow: auto;
  background-color: #dddddd;
}
#content .container {
  padding: 0;
  background-color: #dddddd;
}
@media (max-width: 767px) {
  #content {
    padding: 10px;
  }
}

.ann_dropdown-menu {
  background-color: #f8f8f8;
  border-radius: 0 !important;
}

.ann_dropdown-item:hover {
  background-color: #f6edcf;
}
.ann_dropdown-item:active {
  background-color: #f6edcf;
}
.ann_dropdown-item:focus {
  background-color: #f6edcf;
}

ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
  top: 100%;
  left: 0;
  margin-top: -0.125rem !important;
}
ul.navbar-nav li.dropdown:hover > ul.dropdown-menu[data-bs-popper] {
  margin-top: -0.125rem !important;
}

.ann_button {
  /* border: 2px solid black; */
  color: white;
  border-radius: 5px;
  padding: 5px 40px;
  font-weight: 700;
  transition: 0.3s;
}
.ann_button.ab_pink {
  background-color: #f8f8f8;
}
.ann_button.ab_pink:hover {
  background-color: #ffecb2;
}
.ann_button.ab_green {
  background-color: #606480;
}
.ann_button.ab_green:hover {
  background-color: rgba(96, 100, 128, 0.5019607843);
}

.ann_home_slide {
  width: 100%;
  height: 500px;
  margin: 10px 0 !important;
  border: 0;
}
.ann_home_slide .slick-list {
  top: 150px;
}

@media (max-width: 767px) {
  .ann_home_slide {
    height: 350px;
  }
  .ann_home_slide .slick-list {
    top: 0;
  }
}
.ann_home_slide_page {
  margin: 0;
  height: 350px;
  border-radius: 10px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.ann_home_slide_content {
  width: 100%;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: visible;
}
@media (max-width: 767px) {
  .ann_home_slide_content {
    overflow: hidden;
  }
}

.slick-list {
  position: relative;
  overflow: visible;
}
@media (max-width: 767px) {
  .slick-list {
    overflow: hidden;
  }
}

.slidebleed {
  height: 500px;
  width: auto;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.slidebleed img {
  height: 500px;
}

@media (max-width: 767px) {
  .slidebleed {
    height: 360px;
    right: 0;
    bottom: 0;
    transform: translateX(10%);
  }
  .slidebleed img {
    height: 360px;
  }
}
.slidetext {
  z-index: 10;
}
@media (min-width: 768px) {
  .slidetext {
    padding-left: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .slidetext {
    padding: 20px;
  }
}

.ann_home_slide_title {
  font-weight: 300;
  line-height: 110%;
  color: black;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0 #c4c6db, 2px 2px 0 #c4c6db, 3px 3px 0 #c4c6db, 0px 1px 0 #c4c6db, -1px 1px 0 #c4c6db, -1px 0px 0 #c4c6db, -1px -1px 0 #c4c6db, 0px -1px 0 #c4c6db, 1px -1px 0 #c4c6db, 1px 0px 0 #c4c6db;
}
@media (min-width: 768px) {
  .ann_home_slide_title {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .ann_home_slide_title {
    font-size: 32px;
  }
}

.ann_home_slide_text {
  font-weight: 500;
  line-height: 160%;
  background-color: #000000;
  padding: 5px;
  color: #c4c6db;
}

.ann_home_banner {
  height: 150px;
  border: 0;
  padding: 0;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.ann_home_banner_content {
  height: 100%;
  width: 100%;
  color: white;
  line-height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
}
.ann_home_banner_content:hover {
  backdrop-filter: blur(4px);
  transition: 0.3s;
}
@media (min-width: 992px) {
  .ann_home_banner_content {
    padding: 50px;
  }
}
@media (max-width: 991px) {
  .ann_home_banner_content {
    padding: 20px;
  }
}

.slick-dots {
  bottom: 5px !important;
}
.slick-dots button {
  width: 5px !important;
  height: 5px !important;
  border: 1px solid #ffecb2 !important;
  border-radius: 50% !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
}
.slick-dots button::before {
  display: none;
}

.slick-active button {
  background: #ffecb2 !important;
}

#introduce_about {
  width: auto;
  max-width: 100%;
  height: 400px;
  margin: 100px 0 50px 0;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  overflow: visible;
  z-index: 10;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
@media (max-width: 991px) {
  #introduce_about {
    margin-top: 30px;
  }
}
#introduce_about #introduce_about2 {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background-color: rgba(238, 238, 238, 0.5019607843);
  display: flex !important;
  flex-direction: column !important;
  justify-content: end !important;
  align-items: flex-end !important;
}
@media (max-width: 991px) {
  #introduce_about #introduce_about2 {
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);
    padding: 50px 0 0 0;
  }
}
#introduce_about #introduce_about3-1 {
  width: 100%;
  padding: 20px 20px;
  text-align: right;
}
@media (max-width: 991px) {
  #introduce_about #introduce_about3-1 {
    background: linear-gradient(0deg, #ffecb2, rgba(255, 236, 178, 0));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
#introduce_about #introduce_about3-2 {
  height: 480px;
  width: auto;
  z-index: -1;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: -50px;
  visibility: visible;
}
#introduce_about #introduce_about3-2 img {
  height: 480px;
}
@media (max-width: 991px) {
  #introduce_about #introduce_about3-2 {
    visibility: hidden;
  }
}
#introduce_about #introduce_about3-3 {
  height: 80px;
  width: auto;
  z-index: 0;
  display: inline-block;
  position: absolute;
  top: -30px;
  right: 50px;
}
#introduce_about #introduce_about3-3 img {
  height: 80px;
}
@media (max-width: 991px) {
  #introduce_about #introduce_about3-3 {
    height: 60px;
    top: -10px;
    right: 20px;
  }
  #introduce_about #introduce_about3-3 img {
    height: 60px;
  }
}

#introduce_about4 {
  text-align: center;
  font-size: 1.4em;
  z-index: 5;
  position: relative;
}
#introduce_about4 #introduce_about4-1 {
  padding: 20px 28%;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  #introduce_about4 #introduce_about4-1 {
    padding: 20px;
  }
}
#introduce_about4 #introduce_about4-1 h2 {
  font-weight: 900;
}
#introduce_about4 #introduce_about4-1 span {
  font-weight: 500;
}
#introduce_about4 #introduce_about4-2 {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 140%;
  height: 700px;
  z-index: -10;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}
#introduce_about4 #introduce_about4-2::after {
  content: "";
  z-index: -9;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(0deg, rgb(221, 221, 221) 0%, rgba(221, 221, 221, 0.5) 10%, rgba(221, 221, 221, 0.5) 90%, rgb(221, 221, 221) 100%);
}

#introduce_line {
  width: auto;
  max-width: 100%;
  margin: 50px 0 20px 0;
  padding: 30px 0;
  z-index: 5;
  border: 2px dashed black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.introduce_line {
  width: auto;
  max-width: 100%;
  padding: 0 50px 0 25px;
}

.flex-middle {
  padding: 0 25px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .flex-middle {
    align-items: center;
  }
}

#introduce_portfolio {
  width: auto;
  max-width: 100%;
  height: 300px;
  margin: 20px 0 20px 0;
  z-index: 5;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #c4c6db;
}

#introduce_slide {
  width: 100%;
  height: 200px;
}

.introduce_slide_page {
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
  margin: 10px 5px;
  height: 200px;
}
.introduce_slide_page img {
  height: 200px;
  border-radius: 10px;
}
.introduce_slide_page div {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
.introduce_slide_page div span {
  padding: 3px 15px;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 0.8em;
}

#introduce_portfolio_gradient {
  z-index: 5;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  background: linear-gradient(90deg, rgb(196, 198, 219) 0%, rgba(196, 198, 219, 0.5) 15%, rgba(196, 198, 219, 0) 30%, rgba(196, 198, 219, 0) 70%, rgba(196, 198, 219, 0.5) 85%, rgb(196, 198, 219) 100%);
}
#introduce_portfolio_gradient span {
  padding-bottom: 10px;
  padding-right: 20px;
  display: inline-block;
}
#introduce_portfolio_gradient img {
  height: 15px;
  vertical-align: text-bottom;
}
@media (max-width: 991px) {
  #introduce_portfolio_gradient {
    background: none;
  }
}

#annfinderdiv1 {
  margin: 50px 0 0 0;
  padding: 20px 0;
}
#annfinderdiv1 h1 {
  font-weight: 900;
}

#mc_finder {
  border: 1px solid #44515c;
  border-radius: 10px;
  background-color: #dddddd;
}
#mc_finder:focus, #mc_finder:active {
  outline: none;
  box-shadow: none;
}
#mc_finder::placeholder {
  color: gray;
}

#mc_tag_selector {
  background-color: rgba(248, 248, 248, 0.5019607843);
  border: 1px solid #44515c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#mc_tag2_selector {
  background-color: rgba(248, 248, 248, 0.5019607843);
  border: 1px solid #44515c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#mc_tag_selector_desc {
  background-color: #44515c;
  color: #dddddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#mc_tag_selector_desc span {
  font-weight: 700;
}

#mc_tag2_selector_desc {
  background-color: #44515c;
  color: #dddddd;
}
#mc_tag2_selector_desc span {
  font-weight: 700;
}

#mc_tag_reset {
  border-bottom: 1px dashed #44515c;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
}

#mc_tag2_reset {
  border-bottom: 1px dashed #44515c;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
}

.mc_tag_reset_btn {
  background-color: #606480;
  cursor: pointer;
  transition: 0.3s;
  color: #dddddd;
}
.mc_tag_reset_btn:hover {
  background-color: #44515c;
}

#mc_tag_list {
  padding: 0 5px 5px 5px;
}
#mc_tag_list .active {
  outline: none;
  box-shadow: none;
  color: white !important;
  background-color: #606480 !important;
  border-color: #606480 !important;
}

#mc_tag2_list {
  padding: 0 5px 5px 5px;
}
#mc_tag2_list .active {
  outline: none;
  box-shadow: none;
  color: white !important;
  background-color: #606480 !important;
  border-color: #606480 !important;
}

.search_check {
  margin: 5px;
  color: #606480;
  border-color: #606480;
  border-radius: 10px;
}
.search_check:hover {
  color: #606480;
  background-color: transparent;
  border-color: #606480;
}

.search_check2 {
  margin: 5px;
  color: #606480;
  border-color: #606480;
  border-radius: 10px;
}
.search_check2:hover {
  color: #606480;
  background-color: transparent;
  border-color: #606480;
}

.search_btn {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-radius: 10px;
  background-color: #44515c;
  color: #dddddd;
  font-weight: 700;
}
.search_btn i {
  color: #afafaf;
  padding: 0 5px 0 0;
}
.search_btn:hover {
  background-color: transparent;
  color: #44515c;
  font-weight: 700;
  border: 1px solid #44515c;
}
.search_btn:hover i {
  color: #44515c;
  transition: 0.15s;
}

#mc_grid {
  display: grid;
  gap: 20px;
}
@media (max-width: 575px) {
  #mc_grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}
@media (min-width: 576px) {
  #mc_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  #mc_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  #mc_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  #mc_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.mc_card {
  min-width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
@media (max-width: 447px) {
  .mc_card {
    width: 100%;
  }
}
.mc_card:hover {
  background-color: rgb(255, 255, 255);
  transform: translateY(-3px);
}
.mc_card::after {
  content: "";
  z-index: -98;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}

.mc_card_image {
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  height: 300px;
  width: auto;
  max-width: none;
  padding: 0;
}

.mc_card_overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 0 0 10px 10px;
  border-top: 1px solid black;
  padding: 10px 0 6px 0;
}
.mc_card_overlay > h6 {
  color: black;
  font-weight: 700;
  margin-bottom: 5px;
}
.mc_card_overlay > span {
  color: black;
  font-size: 0.8em;
}

#no_mc {
  min-width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 7px;
  border: 1px solid #afb5bf;
  text-align: center;
}

#detail_upper_wrap {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 300px;
  margin: 100px 0 20px 0;
  position: relative;
  overflow-y: visible !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}
#detail_upper_wrap::after {
  content: "";
  z-index: -98;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.5);
}

#detail_upper1 {
  height: 400px;
  z-index: -87;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(0);
}
@media (max-width: 767px) {
  #detail_upper1 {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
#detail_upper1 img {
  height: 400px;
  z-index: -85;
}

#detail_upper_logo {
  width: 80px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: -90;
}

#detail_upper_download {
  visibility: hidden;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  width: 110px;
  position: absolute;
  right: 0;
  top: -40px;
  z-index: -80;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 85%;
}
#detail_upper_download:hover {
  background-color: #c4c6db;
  transition: 0.3s;
  color: black;
}

#detail_upper1-2 {
  white-space: nowrap;
  z-index: 10;
  position: absolute;
  left: 40%;
  bottom: 0;
  transform: translateX(0);
  display: flex !important;
  flex-direction: column !important;
  justify-content: end !important;
  align-items: flex-start !important;
}
@media (min-width: 1400px) {
  #detail_upper1-2 {
    left: 30%;
  }
}
@media (max-width: 1399px) {
  #detail_upper1-2 {
    left: 35%;
  }
}
@media (max-width: 1199px) {
  #detail_upper1-2 {
    left: 40%;
  }
}
@media (max-width: 991px) {
  #detail_upper1-2 {
    left: 50%;
  }
}
@media (max-width: 767px) {
  #detail_upper1-2 {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    align-items: center !important;
  }
}
#detail_upper1-2 #detail_name {
  margin-bottom: 0;
  text-align: left;
}
@media (max-width: 767px) {
  #detail_upper1-2 #detail_name {
    text-align: center;
  }
}
#detail_upper1-2 .uppername {
  font-size: 5em;
  font-weight: 900;
  line-height: 130%;
}
#detail_upper1-2 .uppertitle {
  font-size: 1.2em;
  font-weight: 900;
  line-height: 130%;
}
#detail_upper1-2 .uppertag {
  font-size: 0.8em;
  font-weight: 500;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  #detail_upper1-2 .uppertag {
    padding: 5px 10px;
    background-color: #c4c6db;
    line-height: 100%;
    border-radius: 15px;
  }
}

#detail_upper1-3 {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  z-index: -10;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 767px) {
  #detail_upper1-3 {
    visibility: visible;
  }
}

#detail_mid_wrap {
  margin-bottom: 50px;
}

#detail_mid1 {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
#detail_mid1 ul {
  padding-left: 1rem !important;
}
#detail_mid1 li::marker {
  content: "-  ";
}

#detail_mid2 {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.youtube-embed {
  position: relative;
}
.youtube-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel_thumbnails {
  width: 100%;
}

.carousel_thumbnail00 {
  width: 100px;
  height: 56px;
}
.carousel_thumbnail00 img {
  object-fit: cover;
  width: 100px;
  height: 56px;
}

#profile_career h5 {
  font-weight: 800;
}
#profile_career ul {
  border-left: 2px solid black;
  margin-top: 1rem;
}
#profile_career li {
  margin: 3px 0 3px 6px;
  list-style-type: minus_list;
}

@counter-style minus_list {
  symbols: "-";
  suffix: " ";
  system: cyclic;
}
#formdiv1 {
  margin: 50px 0 10px 0;
  padding: 20px 0;
}
#formdiv1 h1 {
  font-weight: 900;
}
.aca_form {
  margin-bottom: 10px;
}
.aca_form label {
  font-weight: 700;
}
.aca_form input, .aca_form textarea {
  border: 1px solid black !important;
  border-radius: 10px;
}
.aca_form input:focus, .aca_form textarea:focus {
  box-shadow: 0 0 0 0 #ffecb2;
  background-color: #ffecb2;
  transition: 0.3s;
}
.aca_form input:hover, .aca_form input:active, .aca_form textarea:hover, .aca_form textarea:active {
  background-color: #ffecb2;
  transition: 0.3s;
}

#eventdiv1 {
  margin: 50px 0 40px 0;
  padding: 20px 0;
}
#eventdiv1 h1 {
  font-weight: 900;
}
.eventdivtitle {
  margin: 0;
  padding: 0;
}
.eventdivtitle h4 {
  font-weight: 900;
}
.eventdiv_category {
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  margin: 0;
  padding: 20px 20px;
  text-align: center;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.eventdiv_category h5 {
  font-weight: 700;
  text-shadow: 1px 1px 0 #c4c6db, 2px 2px 0 #c4c6db, 3px 3px 0 #c4c6db, 0px 1px 0 #c4c6db, -1px 1px 0 #c4c6db, -1px 0px 0 #c4c6db, -1px -1px 0 #c4c6db, 0px -1px 0 #c4c6db, 1px -1px 0 #c4c6db, 1px 0px 0 #c4c6db;
}
.eventdiv_category .eventdiv_category_gradient {
  width: 100%;
  padding-top: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #c4c6db, rgba(196, 198, 219, 0.7333333333) 50%, rgba(196, 198, 219, 0));
}
.eventdiv_category_desc {
  margin: 10px;
}

.eventdiv_service {
  background-color: #f6edcf;
  border-radius: 10px;
  height: 230px;
  margin: 0;
  padding: 20px 20px 60px 20px;
  text-align: center;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.eventdiv_service h5 {
  font-weight: 700;
  text-shadow: 1px 1px 0 white, 2px 2px 0 white, 3px 3px 0 white, 0px 1px 0 white, -1px 1px 0 white, -1px 0px 0 white, -1px -1px 0 white, 0px -1px 0 white, 1px -1px 0 white, 1px 0px 0 white;
}
.eventdiv_service .eventdiv_service_img {
  height: 150px;
}
.eventdiv_service .eventdiv_service_gradient {
  width: 100%;
  padding-top: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #ffecb2, rgba(255, 236, 178, 0.7333333333) 50%, rgba(255, 236, 178, 0));
}
.eventdiv_service_desc {
  margin: 10px;
}

/*# sourceMappingURL=custom_agency.css.map */
