{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'cssjs/custom_academy.css' %}"/>
{% endblock %}

{% block title %}
    ANNPORT Academy
{% endblock %}

{% block navbar %}
    {% include "academy/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid" style="border: 2px solid  rgba(238,238,238,1); border-top-width: 0;">

        <div class="row">
            <div class="col px-0" id="aca_intro_key"
                 style="background-image: url('{% static 'images/academy/introduce.jpg' %}');">
                <div id="aca_intro_key_gradient">
                    &nbsp;
                </div>
            </div>
        </div>
            <div id="aca_intro_title">
                안녕하세요.<br>
                아나포트 아카데미입니다.
            </div>
            <div class="d-none d-lg-block container" id="aca_intro_text">
                2014년 아나포트를 설립했습니다.<br><br>

                모든 아나운서들이 빛나는 미래를 준비하는 공간이 되고자 했습니다.<br>
                아나운서를 '배'라고 하면, 출항을 돕는 '항구'가 되겠다고 다짐했습니다.<br><br>

                전국 각지의 많은 아나운서와 함께 했고, 부족하지만 초심을 잃지 않으려 노력하며<br>
                어느덧 7년이란 시간이 흘렀습니다.<br><br>

                마음 한켠에 늘 작은 바람이 있었습니다.<br>
                아나운서를 꿈꾸는 이들의 멘토가 되어 험난한 여정의 길잡이가 되고 싶다는 것.<br><br>

                보고 듣고 배우고 느낀 에너지와 노하우, 신념과 경험에 이타심을 조금 섞어서<br>
                2021년, '아나포트 아카데미'로 조심스레 세상에 발을 내디뎠습니다.<br><br>

                저희가 해야 할 일은 명확합니다. 혼자 힘들지 않게 진심을 담아 곁에서 돕는 것.<br>
                우리는 이것을 ‘멘토링’이라고 말합니다.<br><br>

                혼자 고민하지 마세요. 너무 걱정하지 마세요.<br>
                그 고민과 걱정을 먼저 겪어 본 멘토 선생님들이 여기 있습니다.<br><br>

                고민은 나누고, 기쁨은 함께 하면서 여러분의 곁에서 함께 걸어갈게요.<br><br>

                이제 진짜 멘토를 만날 시간입니다. 변치 않는 마음으로 멘티를 기다립니다.<br><br>

                <p style="font-weight: 700";>- 2021년 겨울, 아나포트 아카데미 대표강사</p>

            </div>
            <div class="d-block d-lg-none container" id="aca_intro_text">
                2014년 아나포트를 설립했습니다.<br><br>

                모든 아나운서들이<br>
                빛나는 미래를 준비하는 공간이 되고자 했습니다.<br>
                아나운서를 '배'라고 하면,<br>
                출항을 돕는 '항구'가 되겠다고 다짐했습니다.<br><br>

                전국 각지의 많은 아나운서와 함께 했고,<br>
                부족하지만 초심을 잃지 않으려 노력하며<br>
                어느덧 7년이란 시간이 흘렀습니다.<br><br>

                마음 한켠에 늘 작은 바람이 있었습니다.<br>
                아나운서를 꿈꾸는 이들의 멘토가 되어<br>
                험난한 여정의 길잡이가 되고 싶다는 것.<br><br>

                보고 듣고 배우고 느낀 에너지와 노하우,<br>
                신념과 경험에 이타심을 조금 섞어서<br>
                2021년, '아나포트 아카데미'로<br>
                조심스레 세상에 발을 내디뎠습니다.<br><br>

                저희가 해야 할 일은 명확합니다.<br>
                혼자 힘들지 않게 진심을 담아 곁에서 돕는 것.<br>
                우리는 이것을 ‘멘토링’이라고 말합니다.<br><br>

                혼자 고민하지 마세요. 너무 걱정하지 마세요.<br>
                그 고민과 걱정을 먼저 겪어 본<br>
                멘토 선생님들이 여기 있습니다.<br><br>

                고민은 나누고, 기쁨은 함께 하면서<br>
                여러분의 곁에서 함께 걸어갈게요.<br><br>

                이제 진짜 멘토를 만날 시간입니다.<br>
                변치 않는 마음으로 멘티를 기다립니다.<br><br>

                <p style="font-weight: 700";>- 2021년 겨울, 아나포트 아카데미 대표강사</p>

            </div>

    </div>

    <div class="container-fluid" id="aca_intro_color">
        <div class="container" style="background-color: #44515c;">
            <div class="row mx-0" id="aca_intro_map">
                <div class="col-12 col-lg-6" id="aca_intro_map01">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.9012101780563!2d126.8488610655727!3d37.557391232409046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9c0fbe8bb189%3A0x41207a985f9067c4!2z7LKt66a867mM65Sp!5e0!3m2!1sko!2skr!4v1648797500436!5m2!1sko!2skr"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-12 col-lg-6" id="aca_intro_map02">
                    <div>
                        <p style="font-size: 1.2em; font-weight: 700; border-bottom: 2px solid white; padding-bottom: 6px">
                            아카데미 위치
                        </p>
                        <p style="padding-left: 10px;">
                            서울특별시 강서구 공항대로45길 44 청림빌딩 414호
                        </p>
                        <br>
                        <p style="font-size: 1.2em; font-weight: 700; border-bottom: 2px solid white; padding-bottom: 6px">
                            오시는 길
                        </p>
                        <p style="padding-left: 10px;">
                            <b>자차 이용 시</b><br>
                            - 무료주차 가능 (주차타워 이용)<br><br>

                            <b>대중교통 이용 시</b><br>
                            - 지하철 : 9호선 가양역 7번출구 도보 543M<br>
                            - 버스 : 등촌현대아파트 정류장에서 도보 77M<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}