{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'cssjs/custom_academy.css' %}"/>
{% endblock %}

{% block title %}
    ANNPORT Academy
{% endblock %}

{% block navbar %}
    {% include "academy/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container px-3 pb-5">
        <div class="mx-0 mb-3 pt-5 border-bottom border-dark border-2">
            <span style="font-size: 1.5em; font-weight: 700;">공지사항</span>
        </div>
        <table class="table" id="notice_table">
            <thead>
            <th scope="col">제목</th>
            <th scope="col">수정한 날짜</th>
            </thead>
            <tbody>
            {% for notice in notice_list %}
                <tr style="cursor:pointer;"
                    onClick="location.href='{% url 'academy:notice_article' notice.id %}'">
                    <td>{{ notice.title }}</td>
                    <td>{{ notice.modify_date | date:'Y/m/d' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}