{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'cssjs/custom_academy.css' %}"/>
{% endblock %}

{% block title %}
    ANNPORT Academy
{% endblock %}

{% block navbar %}
    {% include "academy/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="container px-3 pb-5">
        <div class="mx-0 mb-3 pt-5 border-bottom border-dark border-2">
            <span style="font-size: 1.5em; font-weight: 700;">온라인 상담</span>
        </div>

        <form method="POST">
            {% csrf_token %}
            <!-- 오류 -->
            {% if onlineform.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in onlineform %}
                        {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row g-3 my-0">
                <div class="aca_form col-lg-6">
                    <label for="name" class="form-label">성함</label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>
            </div>
            <div class="row g-3 my-0">
                <div class="aca_form col-lg-6">
                    <label for="phoneNumber" class="form-label">연락처</label>
                    <input type="tel" name="phoneNumber" class="form-control" id="phoneNumber">
                </div>
                <div class="aca_form col-lg-6">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>
            </div>
            <div class="row g-3 my-0">
                <div class="aca_form col">
                    <label for="customer_memo" class="form-label">상담내용</label>
                    <textarea name="customer_memo" class="form-control" id="customer_memo" rows="5"></textarea>
                </div>
            </div>
            <button type="submit" class="btn ann_button ab_green my-3" id="ann_button" style="margin-top: 10px;">
                보내기
            </button>
        </form>

    </div>
{% endblock %}