{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'cssjs/custom_academy.css' %}"/>
{% endblock %}

{% block title %}
    ANNPORT Academy
{% endblock %}

{% block navbar %}
    {% include "academy/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container px-3 pb-5">
        <div class="mx-0 mb-3 pt-5 border-bottom border-dark border-2">
            <span style="font-size: 1.5em; font-weight: 700;">합격자 현황</span>
        </div>

        <div class="row mb-3 px-3">
            {% for success in success_list %}
                <div class="aca_event_banner col-12 col-md-6 col-lg-4">
                    <a href="{% url 'academy:success_article' success.id %}">
                        <div class="aca_event_banner_image ratio ratio-1x1" style="background-image:
                                url('{% if success.image %}{{ success.image.url }}{% else %}{% static 'images/academy/noimage.svg' %}{% endif %}');">
                            <div class="aca_event_banner_image_content"></div>
                        </div>
                    </a>
                    <div>
                        <p class="aca_event_banner_title">{{ success.title }}</p>
                    </div>
                    <a href="{% url 'academy:success_article' success.id %}" type="button"
                       class="btn ann_button ab_pink" style="margin-top: 10px;">
                        더보기
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}